  <div class="margin"></div>
 <footer>
   <hr class="horizontalLine">
  <nav>
    <div class="twoitems">
    <div class="displayInFlex">
      <div class="sideBox1"></div>
      <div class="itemsOfMenu">
        <div class="firstMenuItem">
          <div class="menuItems">
            <h3>Menu Items</h3>
            <a class = "navLink" href="/rentals" target="_blank">Rentals</a><br>
            <a class="navLink" href="/sign-up" target="_blank">Registration</a><br>
            <a class="navLink" href="/login" target="_blank">Login</a>
        </div>
        <hr>
        <div class="company">
          <h3>Company</h3>
          <a class = "navLink" href="/rentals" target="_blank">About us</a><br>
          <a class="navLink" href=/sign-up" target="_blank">Careers</a><br>
          <a class="navLink" href="/login" target="_blank">Customer Reviews</a>
        </div>
        <hr>
        <div class="motive">
          <h3>Our Motive</h3>
          <a> Mission - To provide fine living experiance</a><br>
          <a> Partners - We have over 2500 partners across global</a><br>
          <a> Donation - 10% of our annual sales goes towards charity</a>
        </div>
      </div>
      <div class = "hr1">
      <hr class = "hr11">
    </div>
      <div class="lastItem">
        By submitting this assignment I declare that this assignment is my own work in accordance with
  the Seneca Academic Policy. No part of this assignment has been copied manually or
  electronically from any other source (including web sites) or distributed to other students.
      </div>
    <div class="hr2">
      <hr>
    </div>
      <div class="socialMediaLinks">
        <div id = "follow"><h3>Follow Us On Social Media</h3></div>
        <div class = "folIcons">
        <i class="fa-solid fa-arrow-right A"></i> &nbsp; &nbsp; &nbsp;
        <a href="http://www.facebook.com"target="_blank"> <i class="fa-brands fa-facebook B"></i> </a>&nbsp; &nbsp;
        <a href="http://www.twitter.com"target="_blank"> <i class="fa-brands fa-twitter B"></i> </a>&nbsp; &nbsp;
        <a href="http://www.instagram.com" target="_blank"> <i class="fa-brands fa-instagram B"></i> </a>&nbsp; &nbsp;
        <a href="http://www.whatsapp.com" target="_blank"> <i class="fa-brands fa-whatsapp B"></i> </a> &nbsp; &nbsp; &nbsp;
        <i class="fa-solid fa-arrow-left A"></i> &nbsp; &nbsp; &nbsp;
        <p> </p>
      </div>
      </div>
      <div class="cpyright">
        © Anuj Verma, averma100@myseneca.ca, WEB322 Winter 2023.
      </div>
      </div>
      <div class="sideBox2"></div>
    </div>

  </div>
  </nav>
  </footer>