    <header class="fullNav">
      <nav class="naviBar">
        <!-- fantasy shelters -->
        <div class="leftimg">
          <a href="/"
            ><img
              src="./images/ezgif-2-cfcd9c19e4 (2).gif"
              alt="logo of the website"
          /></a>
        </div>

        <div class="rightbar">
          <button
            onclick="window.location.href='/rentals' "
            class="navlinkA navlinks"
          >
            <div class="material-icons">home</div>
            <div class="nav-link">Rentals</div>
          </button>
          <button
            onclick="window.location.href='/sign-up' "
            class="navlinkB navlinks"
          >
            <div class="material-icons">person_add</div>
            <div class="nav-link">Registration</div>
          </button>
          <button
            onclick="window.location.href='/login' "
            class="navlinkC navlinks"
          >
            <div class="material-icons">account_circle</div>
            <div class="nav-link">Login</div>
          </button>
        </div>
      </nav>
      <div class="colorBar"></div>
    </header>