<article>
  <div>
    <div class="fillOutside">
    <form method="post" action="/sign-up">
      <div class="title">Sign Up</div>
      <div class="subtitle">Create your account by entering your email address and choosing a password</div>
      <div class="input-container ic1">
        <label for="firstname"></label>
        <input  id="firstname" class="input" name="firstname" type="text" placeholder="First Name"/><br>
      </div>
      <div class="input-container ic2">
        <label for="lastname"></label>
        <input id="lastname" class="input" name="lastname" type="text" placeholder="Last Name"/><br>
      </div>
      <div class="input-container ic2">
        <label for="email"></label>
        <input id="email" class="input" name="email" type="text" placeholder="Email"/><br>
      </div>
      <div class="input-container ic2">
        <label for="password"></label>
        <input id="password" class="input" name="password" type="password" placeholder="Password"/><br>
       </div>
      <div>
        <button type="text" class="submit">Sign Up today!</button>
      </div>
      <form>
    </div>
    </div>
    </article>