<h2>Hi {{user.firstname}}, Welcome to List page</h2><br><br>
<h2>Click here to go to<a href="/load-data/rentals"> Rentals Load Data Page</a></h2>

<div class="headlineCRUD">


{{#each headlineGrouped}}
<div class="innerBlocksListRentals">
{{>rental}}
<button class="CRUDbuttons"><a href="/rentals/add">Add</a></button>

<span><button class="CRUDbuttons"><a href="/rentals/remove/{{this._id}}">Remove</a></button></span>

{{!-- <button><a href="/rentals/remove">Remove</a></button> --}}
<span><button class="CRUDbuttons"><a href="/rentals/edit/{{this._id}}">Edit</a></button></span>
</div>
{{/each}}

</div>
